#apps{
    width:100%;
    height:800px;
    background-color:darkcyan;
}
.line{
    height:10px;
    background-color:coral;
    width:80px;
    margin:10px auto;
}
h1{
    text-align: center;
    font-size: 30px;
    color:darkolivegreen;
}
#games{
    width:100%;
    height:800px;
    background-color:darkmagenta;
}
img{
    transition: transform.2s;
}
img-hover{
    transform: scale(0.9);
}
body{
    text-align:center;
    width:100%;
    height:100%;
    background-color:darkgreen;
    margin:5px;
    
}